  .pluginTable{
    display: flex;
    font-family: "lato";
    justify-content: center;
  }

  .pluginPage{
    flex-grow: 1;
    justify-content: space-evenly;
  }

  table{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  h1{
    margin-left: 20px;
    font-family: "merriweather";
    font-weight: normal;
    border-color: #EFEFEF;
  }

  th{
    height: 50px;
    width: 180px;
    background-color: #EFEFEF;
    font-weight: normal;
  }

  tr:hover{
    background-color: #f8f8f8;
  }

  td{
    border: 0px;
    text-align: center;
    height: 50px;
    width: 180px;
  }

  table, th, td{
    border-collapse: collapse;
  }