@import '../App.css';

/* Login Page CSS */

.login-image{
    content: var(--loginImage);
    width: 50vw;
    min-width: 380px;
    opacity: 85%;
    position: absolute;
    flex: 1;
}

.welcome-text{
    content: var(--welcomeText);
    color: var(--white);
    position: relative;
    font-size: 0;
}

.welcome-text::after{
    position: relative;
    font-size: 4rem;
    content: var(--welcomeText);
}

/* Landing Page CSS */

.landing-image{
    content: var(--landingImage);
    width: 100%;
    height: 50vh;
    object-fit: cover;
    opacity: 80%;
    position: absolute;
    flex: 1;
}

.main-title{
    content: var(--mainTitle);
    color: var(--black);
    position: relative;
    font-size: 0;
}

.main-title::after{
    position: relative;
    font-size: 4rem;
    content: var(--mainTitle);
}

/* Container CSS */

.maindiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 760px){
    .maindiv{
        flex-direction: column;
    }
    .seconddiv{
        flex-shrink: 1;
    }
    .thirddiv{
        order: -1;
        min-width: 80vw;
    }
}
@media (max-width: 760px){
    .bee-image{
    transform: rotate(10deg);
    }
}

.seconddiv{
    display: flex;
    justify-content: flex-start;
    width: 50vw;
    min-height: 630px;
    flex-shrink: 0;
}

.thirddiv{
    width: 50vw;
    padding: 50px;
}

.landingdiv{
    display: flex;
    flex-direction: column;
}

.toppage{
    display: flex;
    height: 50vh;
}

.bottompage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.modulecontainer{
    margin: 30px;
    border-radius: 20px;
}

.modulebutton{
    height: 250px;
    width: 250px;
    text-decoration: none;
    background-color: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    font-family: var(--font2);
    text-align: center;
    background-color: var(--subnav40);
    border-radius: 20px;
}

/* Form CSS */

.form-header{
  background-color: var(--subnav);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
}

.bee-image{
    content: var(--bee);
    width: 100px;
    transform: rotate(20deg);
    position: absolute;
    right: -50px;
    top: -50px;
}

.login-form-content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

input::placeholder{
    opacity: 0.6;
    font-size: 16px;
    font-family: var(--font2);
}

.forgot-password{
    text-decoration: none;
    color: var(--black);
    opacity: 0.9;
    font-size: 14px;
}

.form-group{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: 80px;
    justify-content: space-between;
}

.login-form-group{
    height: 50px;
}

.sign-in-button{
    margin-top: 20px;
}

.create-account-button{
    background-color: var(--navbar50);
    margin-top: 10px;
}

/* Error CSS */
#email-error{
    color: red;
}

#password-error{
    color: red;
}

/* 404 Page CSS */
.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(320deg, #f28f3b, #ffe69a, #92b4ec);
    height: 100vh;
}

.error-title{
    color: var(--navbar);
    margin-top: 0;
    margin-bottom: 0;
}

.home-button{
    color: var(--black);
    text-decoration: underline;
    text-decoration-color: var(--black);
}



