/*Defaults*/
body{
  font-family: 'Merriweather', serif;
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 80px;
}

h2{
  font-family: 'Merriweather', serif;
  font-size: 60px;
}

h3{
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: normal;
}

h4{
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: bold;
}

form{
  row-gap: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 20px 0px;
}

label{
  font-family: "Lato";
  font-size: 25px;
}

/*a tag*/
/*Button*/
/*Input*/


body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

a{
  text-decoration: none;
  font-size: 16px;
}

/*Containers*/
/*Header CSS*/
.header{
  box-sizing: border-box;
  background-color: #92B4EC;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  box-shadow: 0 0 10px 0 grey;
}

header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header * {
  display: inline;
}

header li a {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  padding-right: 20px;
}

header li a:hover {
  color: white;
}

/* Breadcrumb Nav CSS */ 
.breadcrumbs{
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.breadcrumbs1{
  display: flex;
}

.breadcrumbs > *{
  display: inline-block;
  margin-left: 20px;
}

.breadcrumbs .crumb:after{
  content: '>';
  margin-left: 20px;
}

.breadcrumbs .crumb:last-child:after{
  display: none;
}

.breadcrumbs .crumb a{
  color: black;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  transition: all 0.3s ease 0s;
}

.crumb a:hover{
  color: white;
}

/* Header Logo */
.bee-logo{
  width: 45px;
  object-fit: contain;
  cursor: pointer;
}

/*Main Nav Css*/
.wrapperMainNav{
  background-color: rgba(242, 143, 59, 0.5);
  display: flex;
  align-content: center;
  border-radius: 0px 20px 0px 0px;
  flex-direction: column;
  padding-top: 5px;
  flex: 1;
}

.mainNavItem{
  background-color: rgba(242, 143, 59, 0.0);
  border: none;
  height: 110px;
  font-family: "lato";
  font-size: 20px;
}

.mainNavItem:hover{
  background-color: #F28F3B;
  cursor: pointer;
}

.mainNavItemActive{
  background-color: #F28F3B;
  border: none;
  height: 110px;
  font-family: "lato";
  font-size: 20px;
}
.mainNavItemActive:hover{
  cursor: pointer;
}

/* SubNav CSS */
.subNavContainer{
  display: flex;
  flex-direction: column;
}

.subNavBar{
  background-color: rgba(255,230,154, .4);
  align-items: center;
  border-radius: 0px 20px 0px 0px;
  margin-top: 2px;
}

.navButtonContainer{
  display: flex;
  flex: 1;
}

.subNav {
  background-color: #FFE69A;
}

.subNavHighlight {  
  width: 160px;
  height: 60px;
  font-size: 15px;
  border: none;
  font-family: 'Lato', sans-serif;
  display: "flex";
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align:auto ;
  color: black;
  background-color: rgba(255,230,154);
  cursor: pointer;
  text-decoration: none;
  border-radius: 0px 20px 0px 0px;
}

.navButton{
  width: 160px;
  height: 60px;
  font-size: 15px;
  border: none;
  font-family: 'Lato', sans-serif;
  display: "flex";
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align:auto ;
  color: black;
  background-color: rgba(255,230,154, .1);
  cursor: pointer;
  text-decoration: none;
}

.navButton:hover{
  background-color: rgba(255,230,154, 1);
  border-radius: 0px 20px 0px 0px;
}

.menu-icon{
  width: 35px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.toggle-button{
  background-color: transparent;
  border: none;
}

/* Buttons */
.primaryButton{
  width: 250px;
  height: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgba(242, 143, 59, .7);
  cursor: pointer;
  border: 1px;
  text-shadow: 1.3px 1.3px #C0A080;
  transition: all 0.3s ease 0s;
}

.primaryButton:hover{
  background-color: rgba(242, 143, 59, 1);
}

.secondaryButton{
  width: 400px;
  height: 70px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  border-radius: 20px;
  background-color: rgba(242, 143, 59, .5);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.formButton{
  color: #000000;
  width: 150px;
  height: 35px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 20px;
  background-color: rgba(146, 180, 236, .7);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}

.formButton:hover{
  background-color: rgba(146, 180, 236, 1);
}

/* Inputs */
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  font-family: "lato";
  outline: 0px;
  font-size: 20px;
  width: 100%;
}

input:focus{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid;
}

/*alignment*/
.flexBoxColumnGrow{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flexBoxRowGrow{
  display: flex;
  flex-direction: row;
  flex: 1;
}
