/*Fonts*/
body{
  font-family: "merriweather";
}

h1{
  font-family: "merriweather";
  font-size: 80px;
}

h2{
  font-family: "merriweather";
  font-size: 40px;
}

h3{
  font-family: "merriweather";
  font-size: 30px;
}

h4{
  font-family: "merriweather";
  font-size: 25px;
  font-weight: bold;
}

form{
  font-family: "lato";
  font-size: 25px;
}

body{
  font-family: "lato";
  font-size: 18px;
}

/*Containers*/

.header{
  background-color: #92B4EC;
  display: flex;
  flex-direction: row;
  /* flex: 1; - fixes big header on pluginlist page*/
}

.subNav{
  background-color: #FFE69A;
  
}

.subNavHighlight{
  background-color: #FFE69A;
}

/*Buttons*/
.primaryButton{
  width: 400px;
  height: 70px;
  font-family: "lato";
  font-size: 30px;
  border-radius: 20px;
  background-color: #F28F3B;
  cursor: pointer;
  border: 1px;
}

.primaryButton:hover{
  border:  3px black solid;
}

.secondaryButton{
  width: 400px;
  height: 70px;
  font-family: "lato";
  font-size: 30px;
  border-radius: 20px;
  background-color: #F28F3B;
  opacity: 50%;
  cursor: pointer;
}

.formButton{
  color: #000000;
  width: 230px;
  height: 40px;
  font-family: "lato";
  font-size: 20px;
  border-radius: 20px;
  background-color: #92B4EC;
  opacity: 70%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Inputs*/
input{
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "lato";
  outline: 0px;
  font-size: 20px;
}

input:focus{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid;
}

/*Main Nav Css*/
.wrapperMainNav{
  background-color: rgba(242, 143, 59, 0.5);
  display: flex;
  align-content: center;
  border-radius: 0px 20px 0px 0px;
  flex-direction: column;
  flex: 1;
}

.mainNavItem{
  background-color: rgba(242, 143, 59, 0.0);
  border: none;
  height: 110px;
  font-family: "lato";
  font-size: 20px;
}

.mainNavItem:hover{
  background-color: #F28F3B;
  cursor: pointer;
}

.mainNavItem:active{
  background-color: #F28F3B;
}

/*alignment*/
.flexBoxColumnGrow{
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

.subNavBar{
  background-color: rgba(255,230,154, .4);
  align-items: center;
  border-radius: 0px 20px 0px 0px;
  margin-top: 50px;
}

.uploadmodule{
  background-color: white;
}

.flexBoxRowGrow{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  background-color: #FFFFFF;
}

.navButton{
  width: 160px;
  height: 60px;
  font-size: 15px;
  border: none;
  font-family: "lato";
  display: "flex";
  align-items: center;
  color: black;
  background-color: rgba(255,230,154, .1);
  cursor: pointer;
}

.navButton:hover{
  background-color: rgba(255,230,154, 1);
  border-radius: 0px 20px 0px 0px;
}