/*Setting Variables*/
:root {
  --font1: 'Merriweather', serif;
  --font2: 'Lato', sans-serif;
  --black: rgba(0, 0, 0);
  --white: rgba(255, 255, 255);
  --header: rgba(146, 180, 236);
  --header70: rgba(146, 180, 236, 0.7);
  --navbar: rgba(242, 143, 59);
  --navbar70: rgba(242, 143, 59, 0.7);
  --navbar50: rgba(242, 143, 59, 0.5);
  --subnav: rgba(255, 230, 154);
  --subnav40: rgba(255, 230, 154, 0.4);
  --logo: url("/public/bee2.png");
  --loginImage: url("/public/login-image.jpg");
  --bee: url("/public/bee3.png");
  --welcomeText: "Welcome to Bee Aware";
  --landingImage: url("/public/landing-image.jpg");
  --mainTitle: "Bee Aware";
}

/* DEFAULTS - default styling for plugin developers */
/* Text */

h1{
  font-family: var(--font1);
  font-size: 80px;
}

h2{
  font-family: var(--font1);
  font-size: 60px;
}

h3{
  font-family: var(--font1);
  font-size: 30px;
  font-weight: normal;
}

h3-bold{
  font-family: var(--font1);
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

h3-bolder{
  font-family: var(--font1);
  font-size: 30px;
  font-weight: bolder;
}

h4{
  font-family: var(--font1);
  font-size: 25px;
  font-weight: bold;
}

h5{
  font-family: var(--font1);
  font-size: 18px;
  font-weight: normal;
}

p{
  font-family: var(--font2);
  font-size: 16px;
}

a{
  text-decoration: none;
  font-size: 16px;
}

body{
  font-family: var(--font2);
  font-size: 16px;
}

/* Font Weights */

.bold{
  font-weight: bold;
}

.normal{
  font-weight: normal;
}

/* Positioning */

.left20px{
  margin-left: 20px;
}

.left5px{
  margin-left: 5px;
}

/* Error Message Colour */

.error-message {
  color: #cc0000;
}

/* Form */

form{
  row-gap: 8px;
  font-family: var(--font2);
  font-size: 16px;
  padding: 20px 0px;
}

label{
  font-family: var(--font2);
  font-size: 18px;
  padding-top: 10px;
}

.form-header{
  background-color: var(--navbar);
  border-radius: 20px, 20px, 0px, 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

/* Buttons */

.primaryButton{
  width: 250px;
  height: 50px;
  font-family: var(--font2);
  font-size: 20px;
  border-radius: 20px;
  background-color: var(--navbar70);
  cursor: pointer;
  border: 1px;
  text-shadow: 1.3px 1.3px #C0A080;
  transition: all 0.3s ease 0s;
}

.primaryButton:hover{
  background-color: var(--navbar)
}

.secondaryButton{
  width: 250px;
  height: 50px;
  font-family: var(--font2);
  font-size: 20px;
  border-radius: 20px;
  background-color: var(--navbar50);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.formButton{
  color: var(--black);
  width: 150px;
  height: 35px;
  font-family: var(--font2);
  font-size: 16px;
  border-radius: 20px;
  background-color: var(--header70);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}

.formButton:hover{
  background-color: var(--header);
}

.text-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.text-button-underline{
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--black);
}

/* Inputs */
input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--black);
  font-family: var(--font2);
  outline: 0px;
  font-size: 20px;
  width: 100%;
}

input:focus{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid;
}

/* Remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* PLATFORM - styling specific componants and pages */
/*Header CSS*/
.header{
  box-sizing: border-box;
  background-color: var(--header);
  width: 100%;
  font-family: var(--font2);
  font-size: 14px;
  box-shadow: 0 0 10px 0 grey;
}

header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header * {
  display: inline;
}

header li a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease 0s;
  padding-right: 20px;
}

header li a:hover {
  color: var(--white);
}

/* Header Logo */
.logo{
  content: var(--logo);
  padding-left: 10px;
  width: 45px;
  object-fit: contain;
  cursor: pointer;
  margin-right: auto;
}

/* Breadcrumb Nav CSS */ 
.breadcrumbs{
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.breadcrumbs1{
  display: flex;
}

.breadcrumbs > *{
  display: inline-block;
  margin-left: 20px;
}

.breadcrumbs .crumb:after{
  content: '>';
  margin-left: 20px;
}

.breadcrumbs .crumb:last-child:after{
  display: none;
}

.breadcrumbs .crumb a{
  color: var(--black);
  text-decoration: none;
  font-family: var(--font2);
  transition: all 0.3s ease 0s;
}

.crumb a:hover{
  color: var(--white);
}

/*Main Nav Css*/
.wrapperMainNav{
  background-color: var(--navbar50);
  display: flex;
  align-content: center;
  border-radius: 0px 20px 0px 0px;
  flex-direction: column;
  padding-top: 5px;
  flex: 1;
}

.mainNavItem{
  background-color: transparent;
  border: none;
  height: 130px;
  font-family: var(--font2);
  font-size: 20px;
}

.mainNavItem:hover{
  background-color: var(--navbar);
  cursor: pointer;
}

.mainNavItemActive{
  background-color: var(--navbar);
  border: none;
  height: 130px;
  font-family: var(--font2);
  font-size: 20px;
}
.mainNavItemActive:hover{
  cursor: pointer;
}

/* SubNav CSS */
.subNavContainer{
  display: flex;
  flex-direction: column;
}

.subNavBar{
  background-color: var(--subnav40);
  align-items: center;
  border-radius: 0px 20px 0px 0px;
  margin-top: 2px;
}

.subNav {
  background-color: var(--subnav);
}

.navButtonContainer{
  display: flex;
  flex: 1;
}

.subNavHighlight {  
  width: 160px;
  height: 60px;
  font-size: 15px;
  border: none;
  font-family: var(--font2);
  display: "flex";
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align:auto ;
  color: black;
  background-color: var(--subnav);
  cursor: pointer;
  text-decoration: none;
}

.navButton{
  width: 160px;
  height: 60px;
  font-size: 15px;
  border: none;
  font-family: var(--font2);
  display: "flex";
  align-content: center;
  justify-content: center;
  text-align: center;
  vertical-align:auto ;
  color: var(--black);
  background-color: rgba(255,230,154, .1);
  cursor: pointer;
  text-decoration: none;
}

.navButton:hover{
  background-color: var(--subnav);
}

.menu-icon{
  width: 35px;
  object-fit: contain;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.toggle-button{
  background-color: transparent;
  border: none;
}

/* Alignment */
.flexBoxColumnGrow{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flexBoxRowGrow{
  display: flex;
  flex-direction: row;
  flex: 1;
}

.mainContainerCentre{
  display: flex;
  flex: 1;
  justify-content: center;
  align-content: center;
  align-self: stretch;
  justify-self: stretch;
}

/* Account Page CSS */

.accountContainer{
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 10px;
}

.accountContainer h3 {
  margin: 12px
}

.change-password-button{
  border: none;
  margin-bottom: 20px;
}

.personal-details{
  margin-top:20px;
  font-size: 30px;
}

.account-details-form{
  margin-top:20px;
}

/* 404 Page CSS */

.error-page{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(320deg, var(--navbar), var(--subnav), var(--header));
  height: 100vh;
}

.error-title{
  color: var(--navbar);
  margin-top: 0;
  margin-bottom: 0;
}


