.custom-btn {
    float: right;
}

.custom-btn.btn-primary {
    background-color: firebrick;
    color: white;
}

.custom-btn.btn-success {
    background-color: darkgoldenrod;
    color: white;
}

.custom-btn.btn-default {
    background-color: black;
    color: gray;
}
